    /* 1.Typography */
    
    body {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
    }
    
    .h1 {
        color: #FFFFFF;
        font-family: "Playfair Display";
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 45px;
    }
    
    .h2 {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 37px;
    }
    
    .h3 {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 30px;
        text-align: right;
    }
    
    .h4 {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
    }
    
    .h5 {
        opacity: 0.5;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
    }
    
    .h6 {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
    }
    
    .para-sm {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 26px;
        margin-bottom: 24px;
    }
    
    .para-sm:last-child {
        margin-bottom: 13px;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    .link {
        color: #000FFF;
    }
    
    .bordered-heading {
        position: relative;
        padding-bottom: 25px;
    }
    
    .bordered-heading::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 160px;
        background-color: #FFFFFF;
        left: 0;
        bottom: 0;
    }
    
    .quoted-text {
        color: #1D3F7C;
        font-size: 16px;
        font-style: italic;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 24px;
    }
    
    .font-wght-regular {
        font-weight: 400;
    }
    /* 2. Colors */
    
    .bg-light-blue {
        background-color: #E4F2FE !important;
    }
    
    .bg-light-green {
        background-color: #E9F5E9 !important;
    }
    
    .bg-light-pink {
        background-color: #F3E5F6 !important;
    }
    
    .bg-off-white {
        background-color: #F5F5F5 !important;
    }
    
    .bg-light-gray {
        background-color: #E8E8E8 !important;
    }
    
    .bg-gray {
        background-color: rgba(216, 216, 216, 0.1) !important;
    }
    
    .bg-black {
        background-color: #000 !important;
    }
    
    .color-white {
        color: #fff;
    }
    
    .color-light-pink {
        color: #B75BC5!important;
    }
    
    .bg-white {
        background-color: #fff !important;
    }
    
    .color-black {
        color: black !important;
    }
    
    .color-black::after {
        background-color: #000;
    }
    /* 3. Helper classes */
    
    .d-none {
        display: none;
    }
    
    .d-flex {
        display: flex;
    }
    
    .responsive-img {
        width: 100%;
    }
    
    .external-links {
        margin-top: 46px;
        width: 354px;
        max-width: 100%;
        margin-bottom: 38px;
    }
    
    .external-links a {
        color: #fff;
        text-decoration: underline;
    }
    
    .external-links.text-d-none a {
        text-decoration: none;
    }
    
    .external-links li {
        background: url(../imgs/external-links.svg) no-repeat;
        padding-left: 48px;
        margin-bottom: 31px;
    }
    
    .external-links li:last-child {
        margin-bottom: 44px !important;
    }
    
    .external-links.icon-black li {
        background: url(../imgs/black-icon.svg) no-repeat;
        padding-left: 48px;
        margin-bottom: 20px;
    }
    
    .p-t-0 {
        padding-top: 0 !important;
    }
    
    .p-t-8 {
        padding: 8px;
    }
    
    .p-t-100 {
        padding-top: 100px !important;
    }
    
    .p-b-100 {
        padding-bottom: 100px !important;
    }
    
    .p-top-24 {
        padding-top: 24px;
    }
    
    .vh-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .w-100 {
        width: 100% !important;
    }
    
    .mt-8 {
        margin-top: 8px !important;
    }
    
    .mt-18 {
        margin-top: 18px !important;
    }
    
    .mt-24 {
        margin-top: 24px;
    }
    
    .mt-26 {
        margin-top: 26px;
    }
    
    .mt-102 {
        margin-top: 102px;
    }
    
    .mt-83 {
        margin-top: 83px;
    }
    
    .mt-28 {
        margin-top: 28px;
    }
    
    .mt-30 {
        margin-top: 30px;
    }
    
    .mt-60 {
        margin-top: 60px;
    }
    
    .mt-40 {
        margin-top: 40px;
    }
    
    .w-729 {
        width: 729px;
        max-width: 100%;
    }
    
    .mb-102 {
        margin-bottom: 102px;
    }
    
    .mb-8 {
        margin-bottom: 8px !important;
    }
    
    .mt-55 {
        margin-top: 55px;
    }
    
    .mb-57 {
        margin-bottom: 57px;
    }
    
    .text-upper {
        text-transform: uppercase;
    }
    /* components */
    
    .social-links {
        display: flex;
        align-items: center;
    }
    
    .social-links a {
        margin-right: 39px;
    }
    
    .c-card-md {
        padding: 72px 48px;
        width: 475px;
        max-width: 100%;
        z-index: 2;
    }
    /* Tabs */
    
    .tab-link {
        display: inline-block;
        background: rgba(217, 217, 217, .01);
        width: 50%;
        padding: 29px;
    }
    
    .tab-link.active {
        background: rgba(217, 217, 217, .1);
    }
    
    .tabs-header .tab-link:first-child {
        padding-right: 89px;
        text-align: right;
    }
    
    .tab-link-inner {
        width: 417px;
        display: inline-block;
        text-align: left;
    }
    
    .tab-link-inner>* {
        opacity: 0.49;
    }
    
    .tab-link .tab-link-inner .h5 {
        margin-bottom: 10px;
    }
    
    .tab-link .tab-link-inner .h1 {
        margin-bottom: 8px;
    }
    
    .tab-link.active .tab-link-inner>* {
        opacity: 1;
    }
    
    .tab-link.active .tab-link-inner .h5 {
        opacity: 50%;
    }
    
    .case-study-header {
        padding-bottom: 103px;
    }
    
    .case-study-title {
        padding: 24px;
        width: 540px;
        position: relative;
        margin-top: -78px;
    }
    
    .case-study-para {
        margin-top: 32px;
        width: 825px;
        max-width: 100%;
    }
    
    .c-card-sm {
        width: 360px;
        max-width: 100%;
        margin-right: 30px;
    }
    
    .program-manager .c-card-sm {
        width: 410px;
        margin-right: 0px;
        padding-right: 50px;
    }
    
    .c-card-sm p {
        margin-top: 24px;
    }
    
    .card-one-third .flex-row {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .card-one-third .flex-row:last-child {
        padding-bottom: 0px !important;
    }
    
    .program-manager .sec-inner {
        background: url(../imgs/BLUE\ -\ THE\ CHALLENGE-1.svg) no-repeat bottom right;
        background-size: contain;
    }
    
    .program-manager .quoted-text {
        margin-top: 30px;
    }
    
    .program-manager .c-card-sm p {
        margin-top: 38px !important;
    }
    /* case-2 */
    
    .program-manager.case-2 {
        padding: 55px 0;
    }
    
    .program-manager.case-2 .sec-inner {
        background: none;
        position: relative;
    }
    
    .program-manager.case-2 .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
    }
    /* Layout */
    
    .wrapper {
        width: 100%;
        max-width: 1441px;
        margin: 0 auto;
    }
    
    .container {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }
    
    .sm-container {
        width: 100%;
        max-width: 730px;
        margin: 0 auto;
    }
    
    .flex-row {
        display: flex;
    }
    
    .sec-card {
        padding-top: 102px;
        padding-bottom: 102px;
    }
    /* Intro-sec styles */
    
    .intro-sec {
        padding-bottom: 103px;
    }
    
    .intro-top {
        position: relative;
        padding-bottom: 205px;
    }
    
    .intro-img {
        width: 444px;
    }
    
    .intro-para {
        width: 350px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .prototyping-para {
        padding-top: 24px;
        padding-bottom: 47px;
    }
    
    .slider-controls {
        margin-top: 28px;
        padding: 12px 0px;
    }
    
    .slide-nav {
        background-color: #fff;
        border: 1px solid #979797;
        padding: 4px 17px;
        margin: 0px 20px;
    }
    
    .row-2-col {
        display: flex;
        flex-wrap: wrap;
    }
    
    .row-2-col .col {
        width: calc(50% - 26px);
    }
    
    .row-2-col .col:nth-child(odd) {
        margin-right: 26px;
    }
    
    .row-2-col .col:nth-child(even) {
        margin-left: 26px;
    }
    
    .reflection-content p {
        margin-top: 24px;
    }
    
    .page-navigator {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    
    .tab-inners {
        display: flex;
        align-items: center;
    }
    
    .next-case-info {
        margin-right: 30px;
        text-align: right;
        width: 16%;
    }
    
    .next-case-info img {
        height: 69px;
        width: 69px;
        transform: rotate(90deg);
        opacity: 0.5;
    }
    
    .synthesis-fist-row {
        width: 669px;
        max-width: 100%;
    }
    
    .mvp-sizing {
        margin: 102px 0;
        width: 729px;
        max-width: 100%;
    }
    /* Responsive Styles */
    
    @media only screen and (max-width: 1200px) {
        .container {
            width: 91%;
        }
        .flex-row {
            justify-content: center;
        }
        .program-manager.case-2 {
            padding: 0 0;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .container {
            width: 916px;
            max-width: 91%;
        }
        .tablet-block {
            flex-direction: column;
        }
        .planing-img {
            margin-top: 27px;
        }
        .c-card-sm {
            width: 100%;
        }
        .row-2-col .col:nth-child(odd) {
            margin-right: 18px;
        }
        .row-2-col .col:nth-child(even) {
            margin-left: 10px;
        }
        .row-2-col .col {
            margin-bottom: 30px;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .external-links {
            margin-top: 52px;
            width: 457px;
        }
        .tab-link-inner {
            width: 353px;
        }
        .case-study-header {
            padding: 0px 0px 103px 0px;
        }
        .case-study-title {
            width: 450px;
        }
        .card-one-third .c-card-sm {
            width: 100%;
            margin-right: 30px;
        }
        .program-manager .sec-inner {
            background: none;
            padding: 20px 0px 105px 0px;
        }
        .program-manager .c-card-sm {
            width: 100% !important;
            padding-right: 0px !important;
        }
        .next-case-info {
            width: 17%;
        }
        .program-manager .c-card-sm p {
            margin-top: 24px !important;
        }
        .program-manager img {
            display: none;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .container,
        .sm-container {
            width: 689px;
            max-width: 91%;
        }
        .tab-link-inner {
            width: 260px;
        }
        .card-one-third .flex-row {
            flex-wrap: wrap;
        }
        .next-case-info {
            width: 32%;
        }
        .sec-card {
            padding-bottom: 88px;
        }
        .sec-card .flex-row {
            flex-wrap: wrap;
        }
        .c-card-sm {
            width: 100%;
            margin-right: 0px;
        }
        .card-one-third .c-card-sm {
            margin-right: 0px;
        }
        .tab2 .case-study-header {
            padding: 0px 0px 48px 0px;
        }
        .concept-images>.col {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 0;
        }
        .concept-car-imgs {
            margin-top: 0;
        }
        .mvp-sizing {
            margin: 92px 0;
        }
        .program-manager.case-2 .c-card-md {
            width: 100%;
            padding: 48px 0 0 0;
        }
        .program-manager.case-2 .sec-inner {
            padding-top: 0;
        }
        .program-manager.case-2 .bg-img {
            position: static;
            display: block;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .usability-text .external-links {
            margin-top: 34px;
            margin-bottom: 20px;
        }
        .mobile-container {
            width: 689px !important;
            max-width: 91%;
            margin: 0px 19px;
        }
        .font-20 {
            font-size: 20px;
        }
        .font-12 {
            font-size: 12px;
        }
        .p-t-100 {
            padding-top: 68px !important;
        }
        .card-one-third .flex-row {
            padding-top: 62px;
        }
        .p-b-100 {
            padding-bottom: 58px !important;
        }
        .c-2-heading {
            margin-top: 0 !important;
        }
        .intro-img {
            width: 100%;
        }
        .intro-top {
            padding-bottom: 70px;
        }
        .intro-para {
            position: static;
            width: 100%;
        }
        .intro-sec {
            padding-bottom: 73px !important;
        }
        .tab-link {
            padding: 25px 17px;
        }
        .tab-link-inner {
            width: 120px;
        }
        .intro-para {
            position: static;
            margin-top: 18px;
        }
        .intro-social-links {
            justify-content: flex-start !important;
        }
        .intro-social-links a {
            margin-right: 24px !important;
        }
        .row-2-col .col {
            width: 100%;
            margin-left: 0px !important;
            margin-left: 0px !important;
        }
        .usability-text .col:last-child {
            margin-top: 60px;
        }
        .tab-link .tab-link-inner .h1 {
            margin-bottom: 13px;
            line-height: 25px;
        }
        .tabs-header .tab-link:first-child {
            padding-right: 89px;
        }
        .case-study-title {
            width: 100%;
        }
        .tab-inners {
            flex-wrap: wrap;
            text-align-last: left;
        }
        .intro-top .intro-img {
            width: calc(100% + 29px);
            margin-left: -15px;
            margin-right: -15px;
        }
        .social-links a {
            margin-right: 24px;
        }
        .next-case-info {
            width: 100%;
            margin-right: 0;
            display: flex;
            align-items: center;
        }
        .next-case-info img {
            height: 49px;
            width: 49px;
            transform: rotate(90deg);
            opacity: 0.5;
            margin-left: 18px;
        }
        .case-study-header {
            padding: 0px 0px 0px 0px;
        }
        .case-study-para {
            margin-top: 18px;
        }
        .case-study-header .case-study-para {
            margin-top: 14px;
        }
        .card-one-third {
            background: #fff !important;
        }
        .bordered-heading::after {
            width: 120px;
        }
        .program-manager .sec-inner {
            background: none;
            padding: 20px 0px 52px 0px;
        }
        .d-block {
            display: block !important;
        }
        .chip-heading {
            font-size: 35px;
        }
        .sec-card {
            padding-top: 55px;
            padding-bottom: 55px;
        }
        .arrow-left img {
            width: 37px;
        }
        .arrow-right img {
            width: 37px;
        }
        .slider-controls {
            padding: 12px 0px;
        }
        .usability-text .col:nth-child(odd) {
            margin-right: 0;
        }
        .external-links li:last-child {
            margin-bottom: 19px !important;
        }
        .mobile-controls {
            margin-top: 0 !important;
        }
        .project-manager-para {
            margin-top: 24px;
        }
        .point-mapping {
            padding-top: 47px;
        }
        .synthesis-sec {
            padding-top: 59px !important;
        }
        .synthesis-fist-row .external-links {
            margin-top: 26px;
            margin-bottom: 59px;
        }
        .concept-car-product {
            margin-top: 45px;
        }
        .concept-car-imgs {
            background: #F4F4F4;
            padding: 3px;
            margin-top: 40px;
        }
        .concept-car-imgs img {
            margin-top: 13px;
        }
        .concept-car-imgs img {
            margin-top: 0;
        }
        .mvp-sizing {
            margin: 58px 0px;
        }
        .presentation-link {
            margin-top: 32px !important;
        }
        .reflection-heading {
            margin-bottom: 45px !important;
        }
        .next-up {
            margin-bottom: 26px;
        }
        .mobile-fluid {
            width: 100%;
            max-width: 100%;
        }
        .c-card-md {
            padding: 23px 15px 56px 15px;
        }
        .mobile-p-b-0 {
            padding-bottom: 0 !important;
        }
        .program-manager.case-2 .c-card-md {
            width: 91%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 56px;
        }
        .page-navigator {
            padding-top: 45px;
            padding-bottom: 45px;
        }
        .footer-social-link {
            padding-bottom: 100px;
        }
        .social-links {
            justify-content: space-evenly;
        }
        .social-links a {
            margin-right: 0;
        }
        .stakeholder-mapping .card-one-third {
            overflow: hidden;
        }
        .stakeholder-mapping .container {
            width: 100%;
            max-width: 100%;
        }
    }