html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

//  colors
$color-white: #fff;
$color-halfwhite: #e8ebf3;
$color-orange: #f47a5d;
$color-darkorange: #f3694c;
$color-blue: #3b6bb1;
$color-lightgreen: #e2f6f3;
$color-lightblue: #44678f;
$color-mediumblue: #5670ab;
$color-gray: #b4c2d2;
$color-lightgray: #a8b6c0;
$color-green: #53a5ad;
$color-halfblue: #274b94;
$color-rimblue: #59d1e3;
$color-rimgreen: #6bceb3;
$color-purplegray: #c2c9df;
$color-lightorange: #fdf0ee;
$color-halfblue: #50b3d8;
$color-halfgreen: #57cada;
$stats-border: #ff8b66;
$gradient-pink: linear-gradient(90deg, #417bc2 0%, #50b3d8 100%);
//media quries
$media-xl: "only screen and (max-width :1600px)";
$media-lg: "only screen and (max-width :1376px)";
$media-md: "only screen and (max-width :1200px)";
$media-desktop: "only screen and (max-width : 992px)";
$media-tab: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 540px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
// Typography
.display-font {
    color: $color-blue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-copy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.sec-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body {
    @extend .body-copy;
    line-height: 1.4;
    font-size: 17px;
}

h1 {
    font-size: 34px;
    font-weight: 500;
}

h2 {
    font-size: 34px;
    font-weight: 500;
    @media #{$media-tab} {
        font-size: 22px;
    }
    @media #{$media-mobile} {
        font-size: 18px;
    }
}

h3 {
    font-size: 20px;
    font-weight: 500;
    @media #{$media-mobile} {
        font-size: 18px;
    }
}

h4 {
    font-size: 14px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.sub-title {
    font-size: 13px;
    letter-spacing: 1.1px;
    font-weight: 700;
}

.sec-heading {
    font-weight: 700;
    letter-spacing: -1.5px;
    padding-top: 0;
}

.transition {
    transition: all 250ms ease-in-out;
}

//Gradient mixins
$physical-color1: #6bceb3;
$physical-color2: #6aceb7;
$physical: $physical-color1 -50%,
$physical-color2 -50%;
$stats-color1: #ff592a;
$stats-color2: #ff6c30;
$stats: $stats-color1 12%,
$stats-color2 95%;
$testing-color1: rgba( #43b0e2, 0.52);
$testing-color2: rgba( #2b64b5, 0.52);
$testing: $testing-color1 0%,
$testing-color2 99%;
@mixin gradient($direction, $list) {
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);
}

// Header
.site-header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 999;
    @media #{$media-tab} {
        padding: 5px 0;
    }
    &--sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: rgba( $color-white, 0.8);
    }
    &__logo {
        width: 171px;
        display: inline-block;
        @media #{$media-md} {
            width: 120px;
        }
        img {
            width: 100%;
        }
    }
    &__menu-icon {
        width: 50px;
        display: none;
        position: relative;
        z-index: 999;
        @media #{$media-tab} {
            display: inline-block;
        }
    }
    &__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$media-tab} {
            flex-direction: column;
        }
    }
    &__col {
        @media #{$media-tab} {
            width: 100%;
        }
        &--left {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--right {
            flex: 1;
            padding-left: 60px;
            padding-bottom: 10px;
            @media #{$media-tab} {
                padding-left: 0;
            }
            @media #{$media-tab} {
                padding-bottom: 0;
            }
        }
        &--inner {
            display: flex;
            align-items: flex-start;
        }
    }
    &__right {
        &--inner {
            display: flex;
        }
    }
    &__icon {
        width: 20px;
    }
    &__cta {
        display: flex;
        width: 370px;
        align-items: center;
        @media #{$media-md} {
            width: 170px;
        }
        @media #{$media-tab} {
            width: 350px;
            padding-bottom: 2em;
        }
        @media #{$media-mobile-sm} {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            a {
                text-align: left;
            }
        }
    }
    &__address {
        background-image: url('../images/location-icon.svg');
        background-size: 20px;
        background-position: left top;
        background-repeat: no-repeat;
        text-align: right;
        color: $color-blue;
        font-weight: 500;
        width: 318px;
        max-width: 100%;
        border-right: 1px solid $color-blue;
        padding: 1px 20px;
        @media #{$media-md} {
            display: none;
        }
        @media #{$media-tab} {
            display: block;
        }
        @media #{$media-mobile-sm} {
            border-width: 0;
            margin-bottom: 15px;
        }
    }
    &__contact {
        padding-left: 20px;
        @media #{$media-md} {
            padding-left: 0;
        }
        @media #{$media-tab} {
            padding-left: 20px;
        }
        @media #{$media-mobile-sm} {
            padding-left: 0;
        }
        a {
            display: inline-block;
        }
    }
    &__phone-num {
        background-image: url('../images/orange-call-icon.svg');
        background-size: 20px;
        background-position: 0 0;
        background-repeat: no-repeat;
        text-align: right;
        color: $color-blue;
        font-weight: 500;
        padding-left: 25px;
        transition: color 250ms ease-in-out;
        &:hover {
            @extend .text-orange;
        }
    }
}

//Component
.site-nav {
    @media #{$media-md} {
        padding: 30px 0;
    }
    &__list-item {
        display: inline-block;
        margin-right: 36px;
        @media #{$media-md} {
            margin-right: 18px;
        }
        @media #{$media-tab} {
            display: block;
            font-size: 6vw;
            margin-bottom: 0.5em;
        }
    }
    &__link {
        color: $color-blue;
        font-weight: 500;
        transition: color 250ms ease-in-out;
        &:hover {
            @extend .text-orange;
        }
    }
}

.message-popup {
    &__icon {
        position: fixed;
        bottom: 20px;
        right: 40px;
        cursor: pointer;
        z-index: 888;
    }
}

.photographs {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        @media #{$media-tab} {
            grid-template-columns: 1fr;
            grid-row-gap: 30px;
        }
        a {
            font-size: 10px;
        }
    }
}

.content-sub {
    margin: 20px auto 0px auto;
}

.content-sub {
    margin-top: 10px;
}

.content-wrapper {
    margin-top: 29px;
    @media #{$media-mobile} {
        padding-left: 0px;
    }
    &__content-block {
        margin-top: 20px;
    }
    &__sm-table {
        display: flex;
        justify-content: center;
        @media #{$media-tab} {
            overflow-x: scroll;
        }
    }
    p {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

.chlamydia-list-group {
    padding: 0px 0px 0px 60px;
    margin-bottom: 40px;
    margin-top: 15px;
    @media #{$media-tab} {
        padding-left: 0px;
    }
    &__item {
        list-style-type: disc;
        margin-bottom: 10px;
        @media #{$media-tab} {
            font-size: 14px;
        }
        &--dots {
            list-style: none;
            margin: 10px 0px;
            padding-left: 20px;
            position: relative;
            &::before {
                content: "\2022";
                position: absolute;
                color: $color-orange;
                display: inline-block;
                font-size: 30px;
                font-weight: bold;
                top: -7px;
                left: 0;
                bottom: 0;
                line-height: 30px;
            }
        }
    }
}

.price-box {
    margin-top: 40px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr .5fr;
        border: 1px solid $color-green;
        width: 50%;
        margin: 30px auto 0px auto;
        @media #{$media-tab} {
            width: 100%;
        }
        @media #{$media-mobile} {
            overflow-x: scroll;
            grid-template-columns: 1fr 1fr;
        }
    }
    &__col {
        &--charges {
            padding: 0px 20px 20px 20px;
            &__bg-blue {
                background-color: $color-blue;
                color: $color-white;
            }
        }
        &--doctors {
            padding: 0px 20px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    &__header {
        padding: 20px 0px;
        border-bottom: 1px solid $color-white;
        margin-bottom: 20px;
        &--border-orange {
            border-bottom: 1px solid $color-green;
        }
    }
    &__name {
        text-align: left;
    }
    &__table-below {
        margin-top: 15px;
        text-align: center;
    }
}

.symptoms {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 70px;
        grid-column-gap: 70px;
        align-items: flex-start;
        margin-top: 40px;
        @media #{$media-desktop} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$media-tab} {
            grid-template-columns: 1fr;
            text-align: center;
            grid-column-gap: 40px;
            margin-top: 15px;
        }
    }
    &__image-wrapper {
        height: 383px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 100%;
        @media #{$media-tab} {
            margin: 0px auto;
            background-size: contain;
            background-position: center;
            height: 250px;
        }
        img {
            width: 100%;
        }
        &--one {
            background-image: url(../images/male-symptoms.svg);
        }
        &--two {
            background-image: url(../images/male-gental.jpg);
        }
        &--three {
            background-image: url(../images/symptoms-blemishes.jpg);
        }
        &--four {
            background-image: url(../images/oral.jpg);
        }
        &--five {
            background-image: url(../images/hand.jpg);
        }
        &--six {
            background-image: url(../images/men-discharge.jpg);
        }
        &--seven {
            background-image: url(../images/involvement.jpg);
        }
        &--eight {
            background-image: url(../images/lymph-node.jpg);
        }
    }
    &__content-wrapper {
        margin-top: 22px;
        width: 410px;
        @media #{$media-md} {
            width: 100%;
        }
        @media #{$media-tab} {
            margin-top: 12px;
        }
    }
    &__summary {
        margin-top: 12px;
        font-size: 24px;
        @media #{$media-md} {
            font-size: 18px;
        }
        @media #{$media-tab} {
            font-size: 14px;
        }
    }
    &__link-block {
        margin-top: 40px;
        @media #{$media-tab} {
            margin-top: 20px;
        }
    }
}

.default-btn {
    background-color: $color-orange;
    border: 0px;
    padding: 10px 35px;
    border-radius: 3px;
    color: $color-white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
    transition: background 250ms ease-in-out;
    &:hover {
        background-color: $color-blue;
    }
}

.three-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    @media #{$media-tab} {
        grid-template-columns: 1fr 1fr;
    }
    @media #{$media-mobile} {
        grid-template-columns: 1fr;
    }
}

.services-section {
    padding: 100px 0px;
    @media #{$media-tab} {
        padding: 50px 0px;
    }
}

.icon-button {
    display: inline-block;
    &__inner {
        display: flex;
        align-items: center;
        background: $color-lightgreen;
        background: linear-gradient(0deg, rgba($color-rimgreen, .2) 44%, rgba($color-rimblue, .2) 100%);
        border-radius: 32px;
        padding: 30px 20px;
        min-height: 111px;
    }
    &__icon {
        margin-right: 20px;
    }
    &__text {
        font-size: 14px;
        color: $color-blue;
        font-weight: 500;
    }
    &:hover {
        .icon-button__inner {
            background: linear-gradient(0deg, rgba($color-rimgreen, .6) 44%, rgba($color-rimblue, .6) 100%);
        }
    }
}

.topic-card {
    min-height: 110px;
    max-width: 100%;
    padding: 20px 15px 36px 20px;
    line-height: 30px;
    position: relative;
    @media #{$media-mobile-sm} {
        margin: 0 auto;
    }
    &--off-storke {
        margin-top: 20px;
    }
    &__border {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1.5px solid $color-blue;
        z-index: 1;
        left: -14px;
        top: -15px;
        &:before,
        &:after {
            display: block;
            position: absolute;
            width: 10px;
            height: 30px;
            background: white;
            content: "";
        }
        &:after {
            top: 14px;
            left: -3px;
        }
        &:before {
            right: -2px;
            bottom: 13px;
        }
        &--round {
            left: 0px;
            top: 19px;
            height: 172px;
            &__orange {
                border-color: $color-orange;
            }
        }
        &--lightpurple {
            &:before {
                background: $color-purplegray;
            }
        }
        &--orange {
            border-color: $color-orange;
            border-radius: 10px;
            &:before {
                background: $color-halfwhite;
                top: 14px;
            }
            &:after {
                top: 95px;
            }
        }
        &--white {
            border-radius: 10px;
            &:before {
                background: $color-white;
            }
        }
        &--lightblue {
            border-radius: 19px;
            border-color: $color-lightblue;
            &:before {
                background: $color-lightorange;
            }
        }
        &--four {
            &:before {
                background: $color-halfblue;
            }
        }
    }
    &--one {
        background: $color-purplegray;
        color: $color-white;
    }
    &--two {
        background: $color-halfwhite;
        color: $color-orange;
        border-radius: 19px;
    }
    &--three {
        background: $color-lightorange;
        color: $color-blue;
        border-radius: 50%;
        width: 210px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15px;
        text-align: center;
    }
    &--four {
        background: $color-lightorange;
        color: $color-blue;
    }
    &--five {
        background: $gradient-pink;
        color: $color-white;
        border-radius: 19px;
    }
    &--six {
        background: $color-lightgreen;
        color: $color-blue;
        border-radius: 50%;
        width: 210px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15px;
        text-align: center;
    }
}

.disease-box-outer {
    padding: 60px 0;
    &--physical {
        @include gradient(left,
        $physical);
    }
    &--testing {
        @include gradient(left,
        $testing);
    }
    &--no-padding {
        padding-top: 0;
    }
    &--doctors {
        @include gradient(left,
        $physical-color1);
    }
    @media #{$media-tab} {
        .table-responsive {
            overflow-x: scroll;
        }
    }
}

.disease-box {
    border: 1px solid $color-gray;
    &__content-wrapper {
        padding-left: 110px;
        @media #{$media-tab} {
            padding: 0px;
        }
    }
    &__header-summary {
        color: $color-halfwhite;
        @media #{$media-tab} {
            font-size: 14px;
        }
    }
    &--no-border {
        border: 0;
    }
    &--stats {
        border: 1px solid $stats-border;
    }
    &__header {
        background: linear-gradient(90deg, #57cada 86%, #5ad1e4 100%);
        padding: 0px 63px;
        @media #{$media-mobile} {
            padding: 0px 15px;
        }
        &--chlamydia {
            padding: 30px 63px !important;
            @media #{$media-tab} {
                padding: 20px 15px !important;
            }
        }
        &--transparent {
            background: transparent;
        }
        &--stats {
            @include gradient(left,
            $stats);
        }
    }
    &__content {
        &--white {
            background-color: white;
        }
        &--pb {
            padding-bottom: 40px !important;
        }
    }
    &__title {
        background-position: left;
        background-repeat: no-repeat;
        background-size: 80px;
        padding: 45px 0px 45px 100px;
        letter-spacing: 2px;
        @media #{$media-tab} {
            padding: 20px 0px 20px 80px;
        }
        @media #{$media-mobile} {
            padding: 20px 0px 20px 70px;
        }
        &--feel {
            background: url(../images/symptoms-icon.svg) no-repeat left center;
            background-size: 40px;
        }
        &--physical {
            background: url(../images/Eye-icon.svg) no-repeat left center;
            background-size: 60px;
        }
        &--stats {
            background: url(../images/Calander-icon.svg) no-repeat left center;
            background-size: 40px;
        }
        &--testing {
            background: url(../images/Tube-icon.svg) no-repeat left center;
            background-size: 60px;
        }
        &--treatment {
            background: url(../images/Capsoule-Icon.svg) no-repeat left center;
            background-size: 60px;
        }
        &--steps {
            background: url(../images/First-Aid-Icon.svg) no-repeat left center;
            background-size: 40px;
        }
        &--prevention {
            background: url(../images/Tand-Icon.svg) no-repeat left center;
            background-size: 40px;
        }
        &--condition {
            background: url(../images/Tag-Icon.svg) no-repeat left center;
            background-size: 40px;
        }
        &--algorithm {
            background: url(../images/Algorithm-Icon.svg) no-repeat left center;
            background-size: 40px;
        }
        &--myth {
            background: url(../images/Covid-Icon.svg) no-repeat left center;
            background-size: 60px;
        }
        &--partner {
            background: url(../images/Heart-Icon.svg) no-repeat left center;
            background-size: 40px;
        }
    }
    &__para {
        padding-left: 100px;
        padding-bottom: 50px;
        padding-right: 50px;
        @media #{$media-tab} {
            padding: 30px 23px;
        }
        @media #{$media-mobile} {
            padding: 10px 3px;
        }
        p {
            margin-bottom: 20px;
        }
    }
    &__content-upper {
        padding: 50px 63px;
        @media #{$media-tab} {
            padding: 30px 23px;
            margin: 0px 10px;
        }
        @media #{$media-mobile} {
            padding-right: 20px 3px;
        }
        p {
            margin-bottom: 20px;
            @media #{$media-mobile} {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    &__btn {
        padding: 60px 0px 40px 0px;
        display: flex;
        justify-content: flex-end;
        @media #{$media-mobile} {
            padding: 100px 0px 40px 0px;
        }
    }
    @media #{$media-tab} {
        .table-responsive {
            white-space: nowrap;
            margin: 0px 15px;
        }
    }
    &--blue-border {
        border: 1px solid $color-halfgreen;
    }
}

.faq-accordian {
    padding: 70px 60px 0px 63px;
    margin-top: 50px;
    background-image: url(../images/bg-blue.svg);
    background-repeat: no-repeat;
    background-position: -4px 0;
    background-size: 101%;
    @media #{$media-mobile} {
        padding: 50px 20px 0px 20px;
    }
    @media #{$media-tab} {
        background-size: cover;
    }
    &--bg-green {
        background-image: url(../images/green-bg.svg);
    }
}

.faq-header {
    background-image: url(../images/Faq-Icon.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    line-height: 44px;
    &__title {
        padding-left: 70px;
        color: $color-halfblue;
    }
}

.faq-para {
    &__para {
        margin-top: 30px;
        line-height: 25px;
        width: 50%;
        @media #{$media-tab} {
            width: 100%;
            font-size: 14px;
        }
    }
}

.faq-accordians {
    .faq-title {
        background-image: url(../images/orange-faq.svg);
        background-repeat: no-repeat;
        background-position: 0 4px;
        background-size: 11px;
        padding: 0px 30px;
        margin-top: 25px;
        font-weight: 500;
        cursor: pointer;
        @media #{$media-mobile} {
            margin-top: 10px;
            font-size: 14px;
            padding-right: 0;
        }
        &.first-child {
            margin-top: 45px;
        }
    }
    .faq-answer {
        padding: 10px 30px;
        font-size: 14px;
        @media #{$media-tab} {
            padding: 20px 0px;
        }
        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-top: 40px;
            grid-column-gap: 110px;
        }
        @media #{$media-mobile} {
            font-size: 12px;
            padding: 10px 5px;
        }
    }
}

.std-topics {
    padding: 65px 0px;
    @media #{$media-mobile} {
        padding: 40px 0px 0px 0px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5%;
        margin-top: 60px;
        align-items: center;
        @media #{$media-tab} {
            grid-template-columns: auto auto;
            grid-auto-rows: auto;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        @media #{$media-mobile-sm} {
            display: block;
        }
    }
    &__col {
        width: 80%;
        margin: 0 auto 40px;
    }
}

.sec-para {
    margin-top: 40px;
    @media #{$media-tab} {
        width: 400%;
    }
    p {
        margin-bottom: 10px;
    }
}

.ct-sec-header {
    background-image: url(../images/card-header-bg.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-y: center;
    position: relative;
    left: -20px;
    padding-left: 20px;
    &__title {
        padding-left: 70px;
    }
    &--big {
        background-size: 730px;
        left: -20px;
    }
}

.glance {
    overflow-x: hidden;
    padding-top: 80px;
    @media #{$media-tab} {
        padding-top: 50px;
    }
    @media #{$media-mobile} {
        padding-top: 40px;
    }
    &__card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin-top: 50px;
        @media #{$media-tab} {
            grid-template-columns: 1fr;
            grid-gap: 30px;
            margin-top: 30px;
        }
        @media #{$media-mobile} {
            margin-bottom: 20px;
        }
    }
    &__card {
        padding: 20px;
        width: 100%;
        font-size: 14px;
        min-height: 420px;
        @media #{$media-mobile} {
            padding: 15px 10px;
        }
        &__card-header {
            &__heading {
                @media #{$media-desktop} {
                    font-size: 16px;
                }
            }
            &--bg-blue {
                background-image: url(../images/glance-card-heading-bg.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position-y: center;
                padding: 12px;
                width: 70%;
                @media #{$media-mobile} {
                    width: 100%;
                }
            }
            &--bg-orange {
                background-image: url(../images/glance-card2-heading-bg.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                padding: 20px;
                height: auto;
                height: 60px;
                display: flex;
                align-items: center;
                @media #{$media-mobile} {
                    width: 100%;
                }
            }
        }
        .sm-bg {
            @media #{$media-desktop} {
                width: 70%;
            }
            @media #{$media-mobile} {
                width: 100%;
            }
        }
        &__card-para {
            margin-top: 20px;
            width: 80%;
            max-width: 100%;
            @media #{$media-desktop} {
                width: 100%;
            }
        }
        &__list {
            margin-top: 20px;
            font-size: 14px;
            line-height: 18px;
            &__list-item {
                margin: 10px 0px;
                padding-left: 20px;
                position: relative;
                &::before {
                    content: "\2022";
                    position: absolute;
                    color: $color-orange;
                    display: inline-block;
                    font-size: 30px;
                    font-weight: bold;
                    left: 0;
                }
            }
        }
        &__warning-strip {
            background-image: url(../images/warning-icon.svg);
            background-repeat: no-repeat;
            background-position: top 10px left 30px;
            background-size: 40px;
            background-color: $color-lightorange;
            padding: 10px 30px 10px 90px;
            margin: 15px -20px;
            @media #{$media-mobile} {
                margin: 15px -10px;
                padding: 60px 20px 10px 10px;
                background-position: top 10px center;
                text-align: center;
            }
        }
        .card-table {
            @media #{$media-mobile} {
                overflow-x: scroll;
            }
        }
        &__table {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            @media #{$media-mobile} {
                width: 110%;
            }
            &__table-data {
                padding-bottom: 20px;
                @media #{$media-desktop} {
                    width: 25%;
                }
                @media #{$media-mobile} {
                    width: 50%;
                    padding-right: 20px;
                }
            }
            &--space-top {
                margin-top: 60px;
                @media #{$media-mobile} {
                    margin-top: 30px;
                }
            }
        }
        &__regulatory-text {
            font-size: 12px;
        }
        &--blue-border {
            border: 2px solid $color-lightgray;
            border-radius: 0px 50% 70px 0px;
            @media #{$media-tab} {
                border-radius: 0px 30% 70px 0px;
            }
            @media #{$media-mobile} {
                border-radius: 10px;
            }
        }
        &--orange-border {
            border: 2px solid $color-lightorange;
            border-radius: 35px;
            @media #{$media-mobile} {
                border-radius: 10px;
            }
        }
        &--third-border {
            border: 2px solid $color-lightgray;
            border-radius: 35px 35px 50% 35px;
            @media #{$media-tab} {
                border-radius: 35px 35px 30% 35px;
            }
            @media #{$media-mobile} {
                border-radius: 10px;
            }
        }
    }
    &--color-primary {
        color: $color-blue;
    }
}

.questions {
    padding-top: 60px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &__wrapper {
        background-image: url(../images/questions-bg.svg);
        background-repeat: no-repeat;
        position: relative;
        left: -10px;
        background-size: contain;
        padding: 20px 0px 20px 100px;
        margin-top: 50px;
        width: 100%;
        height: auto;
        @media #{$media-desktop} {
            margin-top: 40px;
            padding: 20px 0px 20px 90px;
        }
        @media #{$media-tab} {
            margin-top: 20px;
            padding-left: 20px;
            background-size: cover;
            left: 0;
        }
    }
    &__item {
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 10px;
        width: 40%;
        max-width: 100%;
        @media #{$media-desktop} {
            width: 90%;
            font-size: 17px;
        }
        @media #{$media-tab} {
            width: 100%;
            margin-bottom: 18px;
        }
    }
    &__answer {
        font-size: 14px;
        margin-top: 10px;
    }
    &__background-img {
        position: absolute;
        top: 50%;
        right: 160px;
        bottom: 50%;
        width: 300px;
        z-index: 0;
        @media #{$media-desktop} {
            right: 13;
        }
        @media #{$media-tab} {
            display: none;
        }
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

// helper classes
.text-orange {
    color: $color-darkorange;
}

.text-blue {
    color: $color-blue;
}

.text-white {
    color: $color-white;
}

.list-item {
    list-style-type: disc;
}

.last {
    margin-bottom: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
    @media #{$media-tab} {
        margin-top: 20px;
    }
}

.w-70 {
    width: 70%;
    max-width: 100%;
    @media #{$media-tab} {
        width: 100%;
    }
}

.w-90 {
    width: 90%;
    max-width: 100%;
    @media #{$media-tab} {
        width: 100%;
    }
}

.mx-auto {
    margin: 0px auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt-7 {
    margin-top: 7px;
}

.pl-20 {
    padding-left: 20px;
}

.list {
    text-align: left;
    width: 50%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media #{$media-tab} {
        width: 100%;
    }
}

.font-bold {
    font-weight: 600;
}

// table
.std-table {
    border-collapse: collapse;
    &__th {
        border: 1px solid $color-gray;
        color: $color-blue;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 6px;
    }
    &__td {
        border: 1px solid $color-gray;
        color: $color-green;
        font-size: 12px;
        padding: 10px 10px 12px 15px;
    }
    &__list {
        margin-left: 9px;
        margin-top: 5px;
    }
    &__table-list {
        list-style-type: decimal;
        margin-bottom: 10px;
    }
}

.footer-cta {
    background-color: $color-halfblue;
    padding: 50px 0px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__call {
        display: flex;
        align-items: center;
    }
    &__number {
        margin-left: 8px;
    }
    a {
        color: $color-white;
        transition: color 250ms ease-in-out;
        &:hover {
            @extend .text-orange;
        }
    }
}

.std-footer {
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding: 90px 0px 40px 0px;
    &__header {
        margin-bottom: 15px;
    }
    &__grid {
        display: flex;
        justify-content: space-between;
        @media #{$media-tab} {
            display: block;
        }
    }
    &__nav-link {
        color: $color-white;
        font-size: 14px;
        line-height: 18px;
    }
    &__col--middle {
        width: 260px;
        max-width: 100%;
        @media #{$media-tab} {
            margin: 35px 0px;
            width: 100%;
        }
    }
    &__address {
        padding: 0px 0px 10px 30px;
        margin-bottom: 12px;
        &--location {
            background-image: url(../images/location-white.svg);
            background-position: left top;
            background-size: 20px;
            background-repeat: no-repeat;
        }
    }
    &__contact {
        padding: 0px 0px 10px 30px;
        &--phone {
            background-image: url(../images/phone-white.svg);
            background-position: left top;
            background-size: 20px;
            background-repeat: no-repeat;
        }
    }
    &__social-links {
        .link {
            margin: 0px 15px;
            @media #{$media-mobile} {
                margin-left: 0;
            }
        }
    }
}

// Layout
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 350ms ease-out;
    @media #{$media-tab} {
        flex-direction: column;
        align-items: flex-start;
    }
    @media #{$media-tab} {
        height: 0;
        overflow: hidden;
    }
    &--open {
        @media #{$media-tab} {
            height: calc( 100vh - 66px);
            overflow-y: auto;
        }
    }
}

.hero-section {
    padding-top: 160px;
    @media #{$media-mobile} {
        padding-top: 90px;
    }
    &__image {
        padding-left: 6vw;
        img {
            width: 100%;
        }
    }
}

.chlamydia-hero {
    padding-top: 190px;
    position: relative;
    background: url(../images/chlamydia-hero-image.svg);
    background-size: 630px;
    background-position: right 160px;
    background-repeat: no-repeat;
    overflow: hidden;
    @media #{$media-lg} {
        background-size: 450px;
        background-position: right 272px;
    }
    @media #{$media-md} {
        background-position: right;
    }
    @media #{$media-desktop} {
        background: none;
    }
    @media #{$media-tab} {
        padding-top: 110px;
        text-align: center;
    }
    &__title {
        @media #{$media-tab} {
            font-size: 25px;
        }
    }
    &__summary {
        width: 800px;
        max-width: 100%;
        margin-top: 30px;
        @media #{$media-tab} {
            font-size: 14px;
        }
    }
    &__paragraph {
        margin-bottom: 14px;
        color: $color-blue;
        position: relative;
        font-size: 24px;
        &--bg {
            padding: 20px 10px;
            &::before {
                content: "";
                display: block;
                background-image: url(../images/paragraph-bg.svg);
                background-repeat: no-repeat;
                background-size: 850px;
                height: 100%;
                width: 60vw;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                @media #{$media-lg} {
                    width: 70vw;
                }
                @media #{$media-lg} {
                    width: 100vw;
                }
                @media #{$media-tab} {
                    left: -14px;
                }
            }
        }
        @media #{$media-md} {
            font-size: 20px;
        }
        @media #{$media-tab} {
            font-size: 16px;
        }
    }
}

.consult-sec {
    padding: 70px 0px 50px 0px;
    .section-header {
        margin-bottom: 50px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $color-halfblue;
        padding-bottom: 40px;
        @media #{$media-mobile} {
            display: block;
        }
    }
    &__cont {
        text-align: center;
        @media #{$media-mobile} {
            margin-bottom: 30px;
        }
    }
    &__icon {
        margin-bottom: 5px;
    }
}

.insurance {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 110px 0px;
    @media #{$media-tab} {
        padding: 30px 0px;
    }
    &__header {
        margin-bottom: 28px;
    }
    &__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media #{$media-tab} {
            display: block;
        }
    }
    &__content {
        width: 452px;
        max-width: 100%;
        @media #{$media-tab} {
            width: 100%;
            margin-top: 36px;
            text-align: center;
        }
    }
    &__insurance-img {
        img {
            width: 260px;
            max-width: 100%;
        }
        @media #{$media-tab} {
            text-align: center;
        }
    }
    &__cap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        &--right,
        &--left {
            width: 50%;
            max-width: 100%;
            p {
                margin-bottom: 5px;
            }
        }
    }
    &__background {
        position: absolute;
        z-index: -1;
        width: 50%;
        top: -113px;
        img {
            width: 30vw;
            max-width: 100%;
        }
        @media #{$media-tab} {
            display: none;
        }
    }
}

.testing-services {
    padding: 100px 0px;
    background-image: url(../images/services-bg.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 79%;
    @media #{$media-tab} {
        padding: 30px 0px;
    }
    .problem-header {
        margin-bottom: 30px;
        h2 {
            @media #{$media-mobile} {
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 120px;
        @media #{$media-mobile} {
            display: block;
        }
    }
    &__item {
        margin-bottom: 30px;
        @media #{$media-mobile} {
            font-size: 14px;
        }
        &--dolor {
            background-image: url(../images/dolor-icon.svg);
            background-repeat: no-repeat;
            background-position: left top;
            padding-left: 40px;
        }
        &--guarantee {
            background-image: url(../images/guarantee-icon.svg);
            background-repeat: no-repeat;
            background-position: left top;
            padding-left: 40px;
        }
        &--like {
            background-image: url(../images/like-icon.svg);
            background-repeat: no-repeat;
            background-position: left top;
            padding-left: 40px;
        }
    }
    &__right {
        @media #{$media-mobile} {
            display: none;
        }
    }
}

.about-chamydia {
    padding: 70px 0px;
}

img {
    max-width: 100%;
}

.d-block {
    display: block;
}

.container-fluid {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 25px;
}

.container {
    max-width: 1177px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    &--md {
        max-width: 1150px;
    }
    &--lg {
        max-width: 1688px;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$media-tab} {
        display: block;
    }
}

//flex-center
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// buttons
// std button
.sec-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    &__icon {
        margin-right: 25px;
        img {
            width: 42px;
            max-width: 100%;
        }
    }
    &__text {
        background-color: $color-lightgreen;
        font-size: 14px;
        color: $color-blue;
        padding: 18px 20px;
        border-radius: 12px;
        font-weight: 500;
        @extend .transition;
        p {
            margin: 39px 0px 48px 0px;
        }
    }
    &:hover {
        .sec-button__text {
            background: $color-orange;
            color: $color-white;
        }
    }
}

* {
    outline: none;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari/Edge */
    color: #606060;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #606060;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #606060;
}