// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap');
//  colors
$color-white: #fff;
$color-orange: #f47a5d;
$color-darkorange: #f3694c;
$color-blue: #3b6bb1;
$color-lightgreen: #e2f6f3;
$color-lightblue: #44678f;
$color-mediumblue: #5670ab;
$color-gray: #b4c2d2;
$color-lightgray: #a8b6c0;
$color-green: #53a5ad;
$color-halfblue: #274b94;
$color-rimblue: #59d1e3;
$color-rimgreen: #6bceb3;
$stats-border: #ff8b66;
//media quries
$media-xl: "only screen and (max-width :1600px)";
$media-lg: "only screen and (max-width :1376px)";
$media-md: "only screen and (max-width :1288px)";
$media-desktop: "only screen and (max-width : 992px)";
$media-tab: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
// Typography
.display-font {
    color: $color-blue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-copy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.sec-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body {
    @extend .body-copy;
    line-height: 1.4;
    font-size: 17px;
}

h1 {
    font-size: 34px;
    font-weight: 500;
}

h2 {
    font-size: 34px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.sub-title {
    font-size: 13px;
    letter-spacing: 1.1px;
    font-weight: 700;
}

.sec-heading {
    font-weight: 700;
    letter-spacing: -1.5px;
    padding-top: 0;
    @media #{$media-desktop} {
        font-size: 31px;
    }
}

.transition {
    transition: all 250ms ease-in-out;
}

//Gradient mixins
$physical-color1: #6bceb3;
$physical-color2: #6aceb7;
$physical: $physical-color1 -50%,
$physical-color2 -50%;
$stats-color1: #ff592a;
$stats-color2: #ff6c30;
$stats: $stats-color1 12%,
$stats-color2 95%;
$testing-color1: rgba( #43b0e2,
0.52);
$testing-color2: rgba( #2b64b5,
0.52);
$testing: $testing-color1 0%,
$testing-color2 99%;
@mixin gradient($direction,
$list) {
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);
}

// Header
.site-header {
    padding: 15px 0;
    position: absolute;
    width: 100%;
    top: 0;
    &--sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: rgba( $color-white, 0.8);
    }
    &__logo {
        width: 171px;
        display: inline-block;
        img {
            width: 100%;
        }
    }
    &__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__col {
        &--middle {
            flex: 1;
            margin-left: 60px;
            padding-bottom: 10px;
        }
        &--inner {
            display: flex;
            align-items: flex-start;
        }
    }
    &__right {
        &--inner {
            display: flex;
        }
    }
    &__icon {
        width: 20px;
    }
    &__cta {
        display: flex;
        width: 370px;
        align-items: center;
    }
    &__address {
        background-image: url('/images/location-icon.svg');
        background-size: 20px;
        background-position: left top;
        background-repeat: no-repeat;
        text-align: right;
        color: $color-blue;
        font-weight: 500;
        width: 318px;
        max-width: 100%;
        border-right: 1px solid $color-blue;
        padding: 1px 20px;
    }
    &__contact {
        padding-left: 20px;
        a {
            display: inline-block;
        }
    }
    &__phone-num {
        background-image: url('/images/orange-call-icon.svg');
        background-size: 20px;
        background-position: 0 0;
        background-repeat: no-repeat;
        text-align: right;
        color: $color-blue;
        font-weight: 500;
        padding-left: 25px;
        transition: color 250ms ease-in-out;
        &:hover {
            @extend .text-orange;
        }
    }
}

//Component
.site-nav {
    &__list-item {
        display: inline-block;
        margin-right: 36px;
    }
    &__link {
        color: $color-blue;
        font-weight: 500;
        transition: color 250ms ease-in-out;
        &:hover {
            @extend .text-orange;
        }
    }
}

.default-btn {
    background-color: $color-orange;
    border: 0px;
    padding: 10px 35px;
    border-radius: 3px;
    color: $color-white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
    transition: background 250ms ease-in-out;
    &:hover {
        background-color: $color-blue;
    }
}

.three-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

.services-section {
    padding: 100px 0px;
}

.icon-button {
    display: inline-block;
    &__inner {
        display: flex;
        align-items: center;
        background: $color-lightgreen;
        background: linear-gradient(0deg, rgba($color-rimgreen, .2) 44%, rgba($color-rimblue, .2) 100%);
        border-radius: 32px;
        padding: 30px 20px;
        min-height: 111px;
    }
    &__icon {
        margin-right: 20px;
    }
    &__text {
        font-size: 14px;
        color: $color-blue;
        font-weight: 500;
    }
    &:hover {
        .icon-button__inner {
            background: linear-gradient(0deg, rgba($color-rimgreen, .6) 44%, rgba($color-rimblue, .6) 100%);
        }
    }
}

.disease-box-outer {
    padding: 60px 0;
    &--physical {
        @include gradient(right,
        $physical);
    }
    &--testing {
        @include gradient(right,
        $testing);
    }
    &--no-padding {
        padding-top: 0;
    }
}

.disease-box {
    border: 1px solid $color-gray;
    &--no-border {
        border: 0;
    }
    &--stats {
        border: 1px solid $stats-border;
    }
    &__header {
        background: linear-gradient(90deg, #57cada 86%, #5ad1e4 100%);
        padding: 0px 63px;
        &--transparent {
            background: transparent;
        }
        &--stats {
            @include gradient(right,
            $stats);
        }
    }
    &__content {
        padding: 1px 0;
        &--white {
            background-color: white;
        }
    }
    &__title {
        background-position: left;
        background-repeat: no-repeat;
        background-size: 80px;
        padding: 45px 0px 45px 100px;
        letter-spacing: 2px;
        &--feel {
            background: url(../images/symptoms-icon.svg) no-repeat left center;
            background-size: 40px;
        }
        &--physical {
            background: url(../images/Eye-icon.svg) no-repeat left center;
            background-size: 60px;
        }
        &--stats {
            background: url(../images/calander-shadow-Icon.svg) no-repeat left center;
            background-size: 80px;
        }
        &--testing {
            background: url(../images/Tube-icon.svg) no-repeat left center;
            background-size: 60px;
        }
    }
    &__text {
        padding: 0px 63px;
        p {
            margin: 39px 0px 48px 0px;
        }
    }
    &__stdtable {
        margin: 18px 63px 12px 63px;
    }
    &__btn {
        padding: 60px 0px 40px 0px;
        display: flex;
        justify-content: flex-end;
    }
}

.faq-accordian {
    padding: 70px 60px 0px 63px;
    margin-top: 50px;
    background-image: url(/images/bg-blue.svg);
    background-repeat: no-repeat;
    background-position: -4px 0;
    background-size: 101%;
    &--bg-green {
        background-image: url(/images/green-bg.svg);
    }
}

.faq-header {
    background-image: url(/images/Faq-Icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    line-height: 44px;
    &__title {
        padding-left: 70px;
        color: $color-halfblue;
    }
}

.faq-accordians {
    .faq-title {
        background-image: url(/images/orange-faq.svg);
        background-repeat: no-repeat;
        background-position: 0 4px;
        background-size: 11px;
        padding: 0px 30px;
        margin-top: 25px;
        font-weight: 500;
        cursor: pointer;
        &.first-child {
            margin-top: 45px;
        }
    }
    .faq-answer {
        padding: 10px 30px;
    }
}

// helper classes
.text-orange {
    color: $color-darkorange;
}

.text-blue {
    color: $color-blue;
}

.text-white {
    color: $color-white;
}

// table
.std-table {
    border-collapse: collapse;
    &__th {
        border: 1px solid $color-gray;
        color: $color-blue;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 6px;
    }
    &__td {
        border: 1px solid $color-gray;
        color: $color-green;
        font-size: 12px;
        padding: 10px 10px 12px 15px;
    }
    &__list {
        margin-left: 9px;
    }
    &__table-list {
        list-style-type: decimal;
        margin-bottom: 10px;
    }
}

.footer-cta {
    background-color: $color-halfblue;
    padding: 50px 0px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__call {
        display: flex;
        align-items: center;
    }
    &__number {
        margin-left: 8px;
    }
    a {
        color: $color-white;
        transition: color 250ms ease-in-out;
        &:hover {
            @extend .text-orange;
        }
    }
}

// Layout
.hero-section {
    padding-top: 160px;
    &__image {
        padding-left: 6vw;
        img {
            width: 100%;
        }
    }
}

img {
    max-width: 100%;
}

.d-block {
    display: block;
}

.container-fluid {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 25px;
}

.container {
    max-width: 1177px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    &--md {
        max-width: 1150px;
    }
    &--lg {
        max-width: 1688px;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$media-tab} {
        display: block;
    }
}

//flex-center
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// buttons
// std button
.sec-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    &__icon {
        margin-right: 25px;
        img {
            width: 42px;
            max-width: 100%;
        }
    }
    &__text {
        background-color: $color-lightgreen;
        font-size: 14px;
        color: $color-blue;
        padding: 18px 20px;
        border-radius: 12px;
        font-weight: 500;
        @extend .transition;
        p {
            margin: 39px 0px 48px 0px;
        }
    }
    &:hover {
        .sec-button__text {
            background: $color-orange;
            color: $color-white;
        }
    }
}

* {
    outline: none;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari/Edge */
    color: #606060;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #606060;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #606060;
}