.display-font {
  color: #3b6bb1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-copy, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.sec-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body {
  line-height: 1.4;
  font-size: 17px;
}

h1 {
  font-size: 34px;
  font-weight: 500;
}

h2 {
  font-size: 34px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.sub-title {
  font-size: 13px;
  letter-spacing: 1.1px;
  font-weight: 700;
}

.sec-heading {
  font-weight: 700;
  letter-spacing: -1.5px;
  padding-top: 0;
}

@media only screen and (max-width: 992px) {
  .sec-heading {
    font-size: 31px;
  }
}

.transition, .sec-button__text {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.site-header {
  padding: 15px 0;
  position: absolute;
  width: 100%;
  top: 0;
}

.site-header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}

.site-header__logo {
  width: 171px;
  display: inline-block;
}

.site-header__logo img {
  width: 100%;
}

.site-header__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__col--middle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 60px;
  padding-bottom: 10px;
}

.site-header__col--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-header__right--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header__icon {
  width: 20px;
}

.site-header__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__address {
  background-image: url("../images/location-icon.svg");
  background-size: 20px;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: right;
  color: #3b6bb1;
  font-weight: 500;
  width: 318px;
  max-width: 100%;
  border-right: 1px solid #3b6bb1;
  padding: 1px 20px;
}

.site-header__contact {
  padding-left: 20px;
}

.site-header__contact a {
  display: inline-block;
}

.site-header__phone-num {
  background-image: url("../images/orange-call-icon.svg");
  background-size: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: right;
  color: #3b6bb1;
  font-weight: 500;
  padding-left: 25px;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.site-nav__list-item {
  display: inline-block;
  margin-right: 36px;
}

.site-nav__link {
  color: #3b6bb1;
  font-weight: 500;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.default-btn {
  background-color: #f47a5d;
  border: 0px;
  padding: 10px 35px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-top: 3px;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
}

.default-btn:hover {
  background-color: #3b6bb1;
}

.three-col-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.services-section {
  padding: 100px 0px;
}

.icon-button {
  display: inline-block;
}

.icon-button__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e2f6f3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(44%, rgba(107, 206, 179, 0.2)), to(rgba(89, 209, 227, 0.2)));
  background: linear-gradient(0deg, rgba(107, 206, 179, 0.2) 44%, rgba(89, 209, 227, 0.2) 100%);
  border-radius: 32px;
  padding: 30px 20px;
  min-height: 111px;
}

.icon-button__icon {
  margin-right: 20px;
}

.icon-button__text {
  font-size: 14px;
  color: #3b6bb1;
  font-weight: 500;
}

.icon-button:hover .icon-button__inner {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(44%, rgba(107, 206, 179, 0.6)), to(rgba(89, 209, 227, 0.6)));
  background: linear-gradient(0deg, rgba(107, 206, 179, 0.6) 44%, rgba(89, 209, 227, 0.6) 100%);
}

.disease-box-outer {
  padding: 60px 0;
}

.disease-box-outer--physical {
  background: -webkit-gradient(linear, right top, left top, color-stop(-50%, #6bceb3), color-stop(-50%, #6aceb7));
  background: linear-gradient(right, #6bceb3 -50%, #6aceb7 -50%);
}

.disease-box-outer--testing {
  background: -webkit-gradient(linear, right top, left top, from(rgba(67, 176, 226, 0.52)), color-stop(99%, rgba(43, 100, 181, 0.52)));
  background: linear-gradient(right, rgba(67, 176, 226, 0.52) 0%, rgba(43, 100, 181, 0.52) 99%);
}

.disease-box-outer--no-padding {
  padding-top: 0;
}

.disease-box {
  border: 1px solid #b4c2d2;
}

.disease-box--no-border {
  border: 0;
}

.disease-box--stats {
  border: 1px solid #ff8b66;
}

.disease-box__header {
  background: -webkit-gradient(linear, left top, right top, color-stop(86%, #57cada), to(#5ad1e4));
  background: linear-gradient(90deg, #57cada 86%, #5ad1e4 100%);
  padding: 0px 63px;
}

.disease-box__header--transparent {
  background: transparent;
}

.disease-box__header--stats {
  background: -webkit-gradient(linear, right top, left top, color-stop(12%, #ff592a), color-stop(95%, #ff6c30));
  background: linear-gradient(right, #ff592a 12%, #ff6c30 95%);
}

.disease-box__content {
  padding: 1px 0;
}

.disease-box__content--white {
  background-color: white;
}

.disease-box__title {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 80px;
  padding: 45px 0px 45px 100px;
  letter-spacing: 2px;
}

.disease-box__title--feel {
  background: url(../images/symptoms-icon.svg) no-repeat left center;
  background-size: 40px;
}

.disease-box__title--physical {
  background: url(../images/Eye-icon.svg) no-repeat left center;
  background-size: 60px;
}

.disease-box__title--stats {
  background: url(../images/calander-shadow-Icon.svg) no-repeat left center;
  background-size: 80px;
}

.disease-box__title--testing {
  background: url(../images/Tube-icon.svg) no-repeat left center;
  background-size: 60px;
}

.disease-box__text {
  padding: 0px 63px;
}

.disease-box__text p {
  margin: 39px 0px 48px 0px;
}

.disease-box__stdtable {
  margin: 18px 63px 12px 63px;
}

.disease-box__btn {
  padding: 60px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.faq-accordian {
  padding: 70px 60px 0px 63px;
  margin-top: 50px;
  background-image: url(../images/bg-blue.svg);
  background-repeat: no-repeat;
  background-position: -4px 0;
  background-size: 101%;
}

.faq-accordian--bg-green {
  background-image: url(../images/green-bg.svg);
}

.faq-header {
  background-image: url(../images/Faq-Icon.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px;
  line-height: 44px;
}

.faq-header__title {
  padding-left: 70px;
  color: #274b94;
}

.faq-accordians .faq-title {
  background-image: url(../images/orange-faq.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: 11px;
  padding: 0px 30px;
  margin-top: 25px;
  font-weight: 500;
  cursor: pointer;
}

.faq-accordians .faq-title.first-child {
  margin-top: 45px;
}

.faq-accordians .faq-answer {
  padding: 10px 30px;
}

.text-orange, .site-header__phone-num:hover, .site-nav__link:hover, .footer-cta a:hover {
  color: #f3694c;
}

.text-blue {
  color: #3b6bb1;
}

.text-white {
  color: #fff;
}

.std-table {
  border-collapse: collapse;
}

.std-table__th {
  border: 1px solid #b4c2d2;
  color: #3b6bb1;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 6px;
}

.std-table__td {
  border: 1px solid #b4c2d2;
  color: #53a5ad;
  font-size: 12px;
  padding: 10px 10px 12px 15px;
}

.std-table__list {
  margin-left: 9px;
}

.std-table__table-list {
  list-style-type: decimal;
  margin-bottom: 10px;
}

.footer-cta {
  background-color: #274b94;
  padding: 50px 0px;
}

.footer-cta__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-cta__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-cta__number {
  margin-left: 8px;
}

.footer-cta a {
  color: #fff;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.hero-section {
  padding-top: 160px;
}

.hero-section__image {
  padding-left: 6vw;
}

.hero-section__image img {
  width: 100%;
}

img {
  max-width: 100%;
}

.d-block {
  display: block;
}

.container-fluid {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 25px;
}

.container {
  max-width: 1177px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.container--md {
  max-width: 1150px;
}

.container--lg {
  max-width: 1688px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .grid {
    display: block;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 250px;
}

.sec-button__icon {
  margin-right: 25px;
}

.sec-button__icon img {
  width: 42px;
  max-width: 100%;
}

.sec-button__text {
  background-color: #e2f6f3;
  font-size: 14px;
  color: #3b6bb1;
  padding: 18px 20px;
  border-radius: 12px;
  font-weight: 500;
}

.sec-button__text p {
  margin: 39px 0px 48px 0px;
}

.sec-button:hover .sec-button__text {
  background: #f47a5d;
  color: #fff;
}

* {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari/Edge */
  color: #606060;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #606060;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #606060;
}
/*# sourceMappingURL=style.css.map */